PORT=3004
MONGODB_URI=mongodb://mongodb:27017/tasktracker-tracker
JWT_SECRET=local-dev-secret-min-32-chars-here-ok
AUTH_SERVICE_URL=http://auth-service:3000
NODE_ENV=development
KAFKA_BROKER=kafka:9092
KAFKA_CLIENT_ID=tracker-service
KAFKA_GROUP_ID=tasky-tracker-group
